* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: #2b609c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 80px;
  font-size: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
.barra-superior {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}
.busqueda input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 800px;
  height: 40px;
}

.carrito {
  font-size: 50px;
  margin-left: 15px;
}

header img {
  width: 160px;
  height: 140px;
}
h1 img {
  width: 900px;
  height: 500px;
}
