.tarjeta {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.nombre {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.nombre .profesion {
  color: #888;
  font-style: italic;
  margin-bottom: 12px;
}

.descripcion {
  color: #908886;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a.boton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #005fa3;
  cursor: pointer;
}
